.error 
  background-color $color-red
  border-color $color-red

.success
  background-color $color-green
  border-color $color-green

.info 
  background-color $color-blue
  border-color $color-blue
.alert
  background-color $color-yellow
  border-color $color-yellow