.s-switcher
  .s-btn    
    &:not(:first-child):not(:last-child)
      border-right none !important
      border-left none !important
  .s-btn--rounded
    &:first-child
      border-top-right-radius 0px !important
      border-bottom-right-radius 0px !important
    &:last-child
      border-top-left-radius 0px !important
      border-bottom-left-radius 0px !important
  