// Fill Colors

$color-cornflower         = #696cff;
$color-green              = #a7e521;
$color-blue               = #03c3ec;
$color-red                = #ff3e1d;
$color-yellow             = #ffd422;
$color-grey-1             = #35425b;
$color-grey-2             = #72809d;
$color-grey-3             = #d7e1ea;
$color-grey-4             = #f0f4f8;
$color-grey-5             = #fafbfd;
// Paste Collors  

$color_pastel-cornflower  = #f2f2ff;
$color_pastel-green       = #faffea;
$color_pastel-blue        = #daf8fc;
$color_pastel-red         = #ffe7e2;
$color_pastel-yellow      = #fff5cb;