.s-input
  border 1px solid #dce1e7
  background-color #ffffff
  &:hover
    border 2px solid $color-cornflower
  &[disabled]
    border 1px solid #dce1e7
    background-color #f7fafc
.s-control
  cursor pointer
  &.s-control--small
    height 36px    
  &.s-control--big
    height 48px    
  &.s-control--disabled
    background-color $color-grey-3 !important
    color #778699 !important  
  